.photo-flex-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}
.flex-item {
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
}
.photo-id-flex-item {
  margin-left: auto;
  margin-right: 10px;
}
